In [1]:
import pandas as pd
import numpy as np
import scipy.spatial
import scipy.optimize as optimize
from scipy.optimize import minimize

In [2]:
hh="Python_HH_Demo_Data.csv"
hh_df = pd.read_csv(hh)
mk="MCCORMICK_ASSIGNMENT.csv"
mk_df = pd.read_csv(mk)
panelfile="Panel_Demo.csv"
panel_df=pd.read_csv(panelfile)

In [3]:
hh_df_new=pd.crosstab(hh_df["MOSAIC_SEGMENT_ID"],hh_df["Value"],values=hh_df["Count"],aggfunc=np.sum)
hh_df_member=hh_df_new.drop(['African American','Asian','Children Present','Completed College','Completed Graduate School','HOH Age 19 - 25','HOH Age 26 - 35',
 'HOH Age 36 - 45','HOH Age 46 - 55','HOH Age 56 - 65','HOH Age 66+','High School Graduates or Below','Hispanic','Income $100,000 - $124,999','Income $125,000 - $149,999',
 'Income $15,000 - $24,999','Income $150,000 - $174,999','Income $175,000 - $199,999','Income $200,000 - $249,999','Income $25,000 - $34,999','Income $250,000+',
 'Income $35,000 - $49,999','Income $50,000 - $74,999','Income $75,000 - $99,999','Income <$15,000','Married','No Children Present','Not Married',
 'Other Ethnicity','Some College','Unknown Ethnicity','Unknown Income','White'], axis=1)
hh_df_member.reset_index(inplace=True)
hh_df_member.head()

Value,MOSAIC_SEGMENT_ID,1 Member HH,2 Member HH,3 Member HH,4 Member HH,5+ Member HH
0,A01,186658.0,592834.0,361185.0,327471.0,512606.0
1,A02,192502.0,307736.0,188898.0,136836.0,134943.0
2,A03,1093.0,121875.0,129444.0,139132.0,295750.0
3,A04,10041.0,119219.0,141673.0,173179.0,406588.0
4,A05,152312.0,639755.0,155378.0,52111.0,35809.0

In [4]:
mk_df_new = mk_df.drop(['Unnamed: 0','Prob'],axis = 1)
mk_df_new_renamed=mk_df_new.rename(columns={"Mosaic":"MOSAIC_SEGMENT_ID"})
custom_seg=mk_df_new_renamed.sort_values('MOSAIC_SEGMENT_ID',ascending=True)
custom_seg.reset_index(inplace=True)
custom_seg

    index MOSAIC_SEGMENT_ID  Custom_seg
0      29               A01           2
1      21               A02           2
2      65               A03           4
3      15               A04           2
4       2               A05           2
5       0               A06           2
6      20               B07           2
7      69               B08           6
8      58               B09           4
9      30               B10           2
10      7               C11           2
11     11               C12           2
12     22               C13           2
13     62               C14           4
14     67               D15           4
15     53               D16           4
16     32               D17           2
17     33               D18           2
18     10               E19           2
19     61               E20           4
20     14               E21           3
21     66               F22           4
22     48               F23           5
23     24               G24           2
24      6               G25           2
25     25               H26           2
26     54               H27           1
27     59               H28           1
28     42               H29           5
29      9               I30           3
..    ...               ...         ...
41     31               L42           3
42      4               L43           3
43     38               M44           5
44     68               M45           6
45     13               N46           3
46     39               N47           5
47     64               N48           1
48     28               N49           5
49     51               O50           1
50     49               O51           5
51     37               O52           5
52     55               O53           1
53     50               O54           1
54     36               O55           5
55     63               P56           1
56     41               P57           1
57     43               P58           6
58     56               P59           1
59     40               P60           1
60     34               P61           1
61     52               Q62           4
62     27               Q63           3
63      8               Q64           3
64     23               Q65           3
65     35               R66           5
66     18               R67           5
67     44               S68           5
68     45               S69           5
69     12               S70           3
70     46               S71           5

[71 rows x 3 columns]

In [5]:
custom_seg=custom_seg.drop(['index','MOSAIC_SEGMENT_ID'],axis=1)
custom_seg=custom_seg.as_matrix()
custom_seg

C:\Users\mstos\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

array([[2],
       [2],
       [4],
       [2],
       [2],
       [2],
       [2],
       [6],
       [4],
       [2],
       [2],
       [2],
       [2],
       [4],
       [4],
       [4],
       [2],
       [2],
       [2],
       [4],
       [3],
       [4],
       [5],
       [2],
       [2],
       [2],
       [1],
       [1],
       [5],
       [3],
       [3],
       [4],
       [1],
       [3],
       [3],
       [3],
       [1],
       [2],
       [2],
       [6],
       [2],
       [3],
       [3],
       [5],
       [6],
       [3],
       [5],
       [1],
       [5],
       [1],
       [5],
       [5],
       [1],
       [1],
       [5],
       [1],
       [1],
       [6],
       [1],
       [1],
       [1],
       [4],
       [3],
       [3],
       [3],
       [5],
       [5],
       [5],
       [5],
       [3],
       [5]], dtype=int64)

In [15]:
# df=pd.DataFrame(custom_seg,dtype=int,columns={"Custom_seg"})
# total_df=hh_df_member.join(df)
# total_df

,MOSAIC_SEGMENT_ID,1 Member HH,2 Member HH,3 Member HH,4 Member HH,5+ Member HH,Custom_seg
0,A01,186658.0,592834.0,361185.0,327471.0,512606.0,2
1,A02,192502.0,307736.0,188898.0,136836.0,134943.0,2
2,A03,1093.0,121875.0,129444.0,139132.0,295750.0,4
3,A04,10041.0,119219.0,141673.0,173179.0,406588.0,2
4,A05,152312.0,639755.0,155378.0,52111.0,35809.0,2
5,A06,563777.0,266909.0,89728.0,44842.0,46672.0,2
6,B07,62152.0,485300.0,307772.0,290657.0,496223.0,2
7,B08,36.0,61410.0,151732.0,214291.0,796239.0,6
8,B09,58800.0,287583.0,212380.0,176662.0,338048.0,4
9,B10,299487.0,581046.0,238776.0,169975.0,247737.0,2
10,C11,364410.0,886452.0,759781.0,533039.0,456660.0,2
11,C12,248630.0,279508.0,123253.0,50508.0,34837.0,2
12,C13,808461.0,1169474.0,599265.0,326487.0,275307.0,2
13,C14,29763.0,227167.0,262136.0,373705.0,823272.0,4
14,D15,14872.0,326935.0,278269.0,271203.0,650034.0,4
15,D16,50405.0,393719.0,318774.0,300323.0,534101.0,4
16,D17,18163.0,516630.0,168852.0,74561.0,61876.0,2
17,D18,321572.0,698610.0,367006.0,262240.0,408714.0,2
18,E19,1009018.0,445225.0,178460.0,83267.0,70181.0,2
19,E20,417163.0,718591.0,442943.0,538775.0,708505.0,4
20,E21,427229.0,1149776.0,738973.0,381311.0,291500.0,3
21,F22,529295.0,2478518.0,355145.0,117591.0,94558.0,4
22,F23,5273.0,240693.0,249824.0,202129.0,442951.0,5
23,G24,1235942.0,498529.0,86103.0,31239.0,24621.0,2
24,G25,1711900.0,258993.0,39088.0,12795.0,8986.0,2
25,H26,453197.0,893338.0,327258.0,209776.0,269717.0,2
26,H27,641502.0,508930.0,90008.0,30983.0,21204.0,1
27,H28,77984.0,418168.0,121655.0,71986.0,88038.0,1
28,H29,198347.0,369442.0,55316.0,20410.0,14747.0,5
29,I30,85399.0,647175.0,362092.0,337109.0,616052.0,3
...,...,...,...,...,...,...,...
41,L42,1453365.0,889387.0,425225.0,197572.0,154928.0,3
42,L43,1141648.0,1082269.0,396648.0,218724.0,201967.0,3
43,M44,5371.0,407374.0,297606.0,290339.0,838266.0,5
44,M45,142844.0,619161.0,275162.0,188386.0,326200.0,6
45,N46,710958.0,688262.0,189855.0,116980.0,157437.0,3
46,N47,483144.0,875563.0,72091.0,29823.0,23158.0,5
47,N48,418541.0,689690.0,265931.0,186782.0,299145.0,1
48,N49,202743.0,450367.0,79261.0,36688.0,32585.0,5
49,O50,389103.0,379232.0,35249.0,14066.0,11222.0,1
50,O51,2048225.0,2712129.0,313511.0,117870.0,94998.0,5
51,O52,692414.0,686749.0,100596.0,44365.0,45526.0,5
52,O53,667896.0,295006.0,54307.0,24413.0,27154.0,1
53,O54,2286464.0,823328.0,65170.0,21792.0,12335.0,1
54,O55,111998.0,1185381.0,310452.0,145672.0,156038.0,5
55,P56,448922.0,556535.0,92940.0,36293.0,32038.0,1
56,P57,237586.0,391511.0,103514.0,54672.0,73188.0,1
57,P58,101709.0,398753.0,67612.0,28175.0,30739.0,6
58,P59,50154.0,742113.0,307370.0,222277.0,330198.0,1
59,P60,24605.0,643292.0,200212.0,127432.0,98031.0,1
60,P61,55711.0,429843.0,72184.0,34797.0,24141.0,1
61,Q62,801442.0,690074.0,264728.0,79494.0,36734.0,4
62,Q63,274281.0,185898.0,65231.0,23534.0,15574.0,3
63,Q64,2060420.0,1745496.0,645773.0,208801.0,102717.0,3
64,Q65,1321197.0,418211.0,118402.0,42919.0,31586.0,3
65,R66,680421.0,989646.0,104929.0,40242.0,27836.0,5
66,R67,267409.0,675884.0,108755.0,47677.0,47565.0,5
67,S68,983863.0,536947.0,99146.0,44266.0,39815.0,5
68,S69,923623.0,615696.0,184163.0,94380.0,107272.0,5
69,S70,72582.0,124913.0,12455.0,5397.0,5263.0,3
70,S71,614769.0,157889.0,40838.0,16508.0,16490.0,5

In [16]:
def objective(arr):
    df=pd.DataFrame(arr,dtype=int,columns={"Custom_seg"})
    total_df=hh_df_member.join(df)
    Seg_total=total_df.groupby("Custom_seg")["1 Member HH","2 Member HH","3 Member HH","4 Member HH","5+ Member HH"].sum()
    Seg_total['Segment_HH_Count']=Seg_total.sum(axis=1)
    Seg_total['Total_HH']=Seg_total['Segment_HH_Count'].sum(axis=0)
    
    for column in Seg_total:
        Seg_total[f'Perc_{column}']=(Seg_total[column]/Seg_total['Segment_HH_Count'])*100
    
    Seg_total=Seg_total.drop(['1 Member HH','2 Member HH','3 Member HH','4 Member HH','5+ Member HH','Segment_HH_Count','Total_HH','Perc_Segment_HH_Count','Perc_Total_HH'],axis=1)
    Seg_total.reset_index(inplace=True)
   
    ary1=scipy.spatial.distance.euclidean(Seg_total.values[0],panel_df.values[0])
    ary2=scipy.spatial.distance.euclidean(Seg_total.values[1],panel_df.values[1])
    ary3=scipy.spatial.distance.euclidean(Seg_total.values[2],panel_df.values[2])
    ary4=scipy.spatial.distance.euclidean(Seg_total.values[3],panel_df.values[3])
    ary5=scipy.spatial.distance.euclidean(Seg_total.values[4],panel_df.values[4])
    ary6=scipy.spatial.distance.euclidean(Seg_total.values[5],panel_df.values[5])
    
    return ary1+ary2+ary3+ary4+ary5+ary6

In [17]:
objective(custom_seg)

223.37182733197423

In [24]:
b=(0.9,6.1)
bds=[b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b,b]

In [25]:
sol=optimize.minimize(objective,custom_seg,method='SLSQP',bounds=bds)
sol

     fun: 223.37182733197423
     jac: array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0.])
 message: 'Optimization terminated successfully.'
    nfev: 73
     nit: 1
    njev: 1
  status: 0
 success: True
       x: array([2., 2., 4., 2., 2., 2., 2., 6., 4., 2., 2., 2., 2., 4., 4., 4., 2.,
       2., 2., 4., 3., 4., 5., 2., 2., 2., 1., 1., 5., 3., 3., 4., 1., 3.,
       3., 3., 1., 2., 2., 6., 2., 3., 3., 5., 6., 3., 5., 1., 5., 1., 5.,
       5., 1., 1., 5., 1., 1., 6., 1., 1., 1., 4., 3., 3., 3., 5., 5., 5.,
       5., 3., 5.])